<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="Terrarium 2.1"
           Language="1033"
           Version="$(fun.AutoVersion(2.1))"
           Manufacturer="Eugenio Miró"
           UpgradeCode="c295a307-5698-4383-9479-45a6a86c04b4">
    <Package InstallerVersion="301" Compressed="yes" InstallScope="perMachine" />
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--Launch Conditions-->
    <PropertyRef Id="NETFRAMEWORK35"/>
    <Condition Message="[ProductName] requires .NET Framework 3.5.">Installed OR NETFRAMEWORK35</Condition>

    <!-- User Interface Experience -->
    <Icon Id="Icon.ico" SourceFile="$(var.Terrarium.ProjectDir)tericon32.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"></Property>
    <UIRef Id="UI"/>

    <!-- Features-->
    <FeatureGroupRef Id="Terrarium"/>

  </Product>
</Wix>