@{
    ViewBag.Title = "CSTutorial";
    Layout = "~/Views/Documentation/_Layout.cshtml";
}

<h2>Lab 1: Create a Herbivore</h2>
<h3>Lab Objective </h3>
<p>The objective of this lab is to build a fully functional organism for Terrarium.  
    You will begin by creating a simple organism and then add more advanced functionality.  
    Once you are happy with the way it is performing, you can introduce it to the Terrarium 
    Ecosystem and have it compete against other attendees’ organisms.</p>

<h3>@Html.ActionLink("Exercise 1 – Create a Simple Herbivore", "CSTutorial", new { id = 1 })</h3>
<h3>@Html.ActionLink("Exercise 2 – Handling an Attacked Event", "CSTutorial", new { id = 2 })</h3>
<h3>@Html.ActionLink("Exercise 3 – Communication", "CSTutorial", new { id = 3 })</h3>
<h3>@Html.ActionLink("Exercise 4 – Introduction into the Ecosystem", "CSTutorial", new { id = 4 })</h3>

