@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Documentation/_Layout.cshtml";
}

@{
    ViewBag.Title = "Documentation";
}

<article>
    <h3>Getting Started</h3>
    There are plenty of resources available for the first time Terrarium developer. Use the menu on the right to view the various documents, tutorials and samples.
</article>
<article>
    <h3>Referencing OrganismBase</h3>
    The OrganismBase assembly should be available via the Add References dialog in VS.NET 2005.
</article>
<article>
    <h3>Samples</h3>
    There are several samples available, including skeleton code to get you up and running fast.
</article>


