@{
    ViewBag.Title = "VBTutorial";
    Layout = "~/Views/Documentation/_Layout.cshtml";
}

<h2>Lab 1: Create a Herbivore</h2>
<h3>Lab Objective </h3>
<p>The objective of this lab is to build a fully functional organism for Terrarium.  
    You will begin by creating a simple organism and then add more advanced functionality.  
    Once you are happy with the way it is performing, you can introduce it to the Terrarium 
    Ecosystem and have it compete against other attendees’ organisms.</p>

<h3>Exercise 4 – Introduction into the Ecosystem</h3>
<p>In this hands-on lab, you will introduce your animal into the Terrarium Ecosystem. The Ecosystem is what makes the 
    Terrarium such an interesting game. You get a chance here to match your animal making skills against others. 
    If you run this on a machine on the Internet, the Ecosystem is the Internet and other any Terrariums on the 
    Internet will be able to safely exchange Animals with your Terrarium. </p>
<p>Start the Terrarium by clicking Start-&gt;All Programs-&gt;.NET Terrarium 1.2-&gt;.NET Terrarium 1.2 </p>
<p>The Terrarium will open in Ecosystem mode. </p>
<p>To introduce your animal into the Ecosystem, click on the Introduce Animal button, </p>
<img src="~/content/documentation/images/tutorial_image004.jpg" alt="Introduce Animal" />
<p>Browse to the dll you created (&lt;YOUR NAME&gt;_Ex3.dll). This dll will be located in 
    the Bin folder of your project. After selecting your animal, click Open, your animal 
    will be introduced into the Ecosystem, you should be able to see 10 of your animals 
    on the screen. </p>
<p>You can only insert an animal once into the Ecosystem, so make sure you’ve tested it thoroughly in Terrarium 
    mode before introducing it.</p>
<h3>Exercise Summary</h3>
<p>Your animal is now in the Ecosystem battling against dozens of other animals, where your coding skills will 
    determine its fate!</p>
<h3>@Html.ActionLink("Exercise 3 – Communication < Previous", "VBTutorial", new { id = 3 })</h3>

